<a href="https://colab.research.google.com/github/worraanong/BDA-lab/blob/main/lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="alert alert-block alert-info"><b></b>
<h1><center> <font color='black'>  Practice Session - 01  </font></center></h1>
<h2><center> <font color='black'> Introduction to Python</font></center></h3>
</div>

================================================================================================================

# Today's session agenda:
1. **Python Introduction**
2. **Data science tutorial (numpy, pandas, matplotlib)**

<div class="alert alert-block alert-success">

# Introduction to Python:

1. **High level programming language**
2. **Dynamic typing:** any type checking is happen during the run time instead of compile time.
3. **Interpreted language** (live coding) it could be slower than **compiled** code
4. Started since 1991, **Python 2:** 2000, **Python 3:** 2008, **Anaconda:** 1999
</div>

In [ ]:
# Dynamic typing:
print('Welcome to Network Science course')

Welcome to Network Science course

In [ ]:
# Interpreted language:
print('Welcome to Network Science course')

Welcome to Network Science course

<div class="alert alert-block alert-success">


# What makes Python different or Why Python?:
1. Python is growing very fast. 
2. According to [PYPL](http://pypl.github.io/PYPL.html) (PopularitY of Programming Language), Python has ranked the **first programming language worldwide.** With a 4% growth rate. [Most Popular Programming Languages 1965 - 2019](https://youtu.be/M0vBoBqqjr0?t=110)
3. Python philosophy `PEP 20- the Zen of Python` [pep-0020](https://www.python.org/dev/peps/pep-0020/)


# Python basics: 
1. You can find a very good tutorial about Python on [DataCamp](https://www.datacamp.com/) or [learnpython](https://www.learnpython.org/)


# Install Python:
1. **Win:** choco install python
2. **Mac:** brew install python3
3. **Linux:** yum <apt-get> install python3
    
    
# Where to write Python code?:  **Let's try all these methods**
1. Python command `REPL` (Read - Eval - Print - Loop), Interactive development
2. `Ipython`: Robust interactive shell. 
3. `IDE` (Integrated development environment ) such as [Pycharm](https://www.jetbrains.com/pycharm/), or [Anaconda](https://www.anaconda.com/), [Anaconda_installation](https://docs.anaconda.com/anaconda/install/)
4. Any text editor: `Notepad`, `Vim`, `Atom`
5. You can use it online with [`google colab`](https://colab.research.google.com/notebooks/welcome.ipynb)
</div>

# Python Basics: 
1. Data types.
2. Basic Operators
3. String Formatting
4. Basic String Operations
5. Conditions
6. Loops
7. Functions
8. Classes and Objects
9. Dictionaries
10. Modules and Packages

### 1. Data types:

1. We have many different data types in any programming language, such as `Integer`, `float`, `double`, `boolean`, `String`, `Lists`, and `Tupel`.

2. Python is completely `object-oriented`, and not `statically typed`. You do not need to declare variables before using them or declare their type. **Every variable in Python is an `object.`**

3. In python we don't need to declare the types of the data before using it:
    * **Python Integer:**    `x = 5`
    * **Java Integer:**     `int x = 5`;
    
    
    
4. **How to declare a variable in Python?**
    * use the following standard form:    
    <center> <font color='green'> [variable name] [assignment operator] [value]</font></center>
    <font color='red'> Ex: </font>
    <center> <font color='black'> myVar = myValue </font></center>
    <center> <font color='black'> x = 6 </font></center>

In [ ]:
# Integer
x = 5
y = 6
print(f"sum of two integers is: {x+y}\n") # this line will be illustrated later: it's just a print statement

# Float/Double
x = 5.1 # float
y = 6   # int
print(f"sum of float and int: {x+y}\n")  # this line will be illustrated later: it's just a print statement

# Boolean:
x = True
y = False

if x:
    print("X is True\n")
else:
    print(" X is False\n")
    
    
# Strings: 
x = "Hello my string" # or 'single'
y = "Welcome to Network Science course"
z = "Welcom to Rajesh's course"
print(f"my x string is: {x}\n")     # this line will be illustrated later: it's just a print statement
print(f"my y string is: {y}\n")     # this line will be illustrated later: it's just a print statement
print(f"my y string is: {z}\n")     # this line will be illustrated later: it's just a print statement


# Lists:
myList1 = [1,2,3,4]
myList2 = [10, "Network Science", 1.2, True]

print(f"my first list is: {myList1}")     # this line will be illustrated later: it's just a print statement
print(f"my second list is: {myList2}\n")  # this line will be illustrated later: it's just a print statement

# Tuples:
myTuple1 = (1,2,3,4)
myTuple2 = (10, "Network Science", 1.2, True)

print(f"my first tuple is: {myTuple1}")     # this line will be illustrated later: it's just a print statement
print(f"my second tuple is: {myTuple2}")    # this line will be illustrated later: it's just a print statement

sum of two integers is: 11

sum of float and int: 11.1

X is True

my x string is: Hello my string

my y string is: Welcome to Network Science course

my y string is: Welcom to Rajesh's course

my first list is: [1, 2, 3, 4]
my second list is: [10, 'Network Science', 1.2, True]

my first tuple is: (1, 2, 3, 4)
my second tuple is: (10, 'Network Science', 1.2, True)

### 2. Basic Operators:

2.1. **Arithmetic Operators:** Just as any other programming language, the `addition`, `subtraction`, `multiplication`, and `division` operators can be used with numbers.

In [ ]:
# numbers
mysum = 1 + 2.2  # addition
mymul = 2 * 3  # multiplication
mydivision = 6 / 3 # division

print("Addition is: ", mysum)
print("Multiplication is: ", mymul)
print("Division is: ", mydivision,'\n')

# strings
mystring1 = " Welcome to"
mystring2 = " Network Science course"

mystring = mystring1 + mystring2 #?

print("Addition is: ", mystring)
print("Multiplication is: ", mystring1 *2)
#print("Division is: ", mystring1 /2,'\n')


# Lists
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]

addition = odd_numbers + even_numbers #?
#mul = odd_numbers * even_numbers
#div = odd_numbers / even_numbers
print(f"\naddition of two lists is: {addition}")
#print(f"\mul of two lists is: {mul}")
#print(f"\ndiv of two lists is: {div}")


# Just as in strings, 
# Python supports forming new lists with a repeating sequence using the multiplication operator:
print(even_numbers * 2)

Addition is:  3.2
Multiplication is:  6
Division is:  2.0

Addition is:   Welcome to Network Science course
Multiplication is:   Welcome to Welcome to

addition of two lists is: [1, 3, 5, 7, 2, 4, 6, 8]
[2, 4, 6, 8, 2, 4, 6, 8]

In [ ]:
# Try to predict what the answer will be. Does python follow the order of operations?
number = 1 + 2 * 3 / 2.0
print(number)

4.0

In [ ]:
# Another operator available is the (modulus) modulo $(%)$ operator, 
# which returns the integer remainder of the division. dividend % divisor = remainder.

remainder = 11 % 3
print(f" the remainder is: {remainder}")

# Using two multiplication symbols makes a power relationship.

squared = 7 ** 2
cubic = 2 ** 3
print(f" the squared is: {squared}")
print(f" the cubic is: {cubic}")

 the remainder is: 2
 the squared is: 49
 the cubic is: 8

### 3. String Formatting:
1. Python uses `C-style` string formatting to create new formatted strings. The `"%"` operator is used to format a set of variables enclosed in a **" tuple"** (a fixed-size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like `"%s"` and `"%d"`.

2. we can use `format()`

In [ ]:
# Let's say you have a variable called "name" with your user name in it, 
# and you would then like to print(out a greeting to that user.)

# This prints out "Hello, John!"
name = "John" # string dt
age = 23 # int dt

#print("hello")
print("Hello, %s, age: %d" % (name, age)) # 

# To use two or more argument specifiers, use a tuple (parentheses):
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

# using format() starting from python3.6 
print("\nUsing format()")
print(f"{name} is {age} years old")

Hello, John, age: 23
John is 23 years old.

Using format()
John is 23 years old

# Ex: 1

1. You will need to write a format string that prints out the data using the following syntax: **Hello `John` `Doe`. Your current balance is `$53.44$`.**

In [ ]:
# sol 1
fname = "John"      # this my firs name  # x = "john"
lname = "Doe"     #  this my last name   # y = "doe"
balance = 53.44   # this how i earn      # z = 53.44


## TODO
# print Hello John Doe. Your current balance is $53.44.
print("")

### 4. Basic String Operations: 

1. Operations: `len()`, `count()`, `index()`, `startswith()`, `endswith()`

1. Strings are bits of text. They can be defined as anything between quotes.

2. As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes. For example to assign the string in these brackets (single quotes are ' ') you need to use double quotes only like this

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#help(str)
x = 2
x?

In [ ]:
astring = "Hello world!"
print(astring)
help(astring)

Hello world!
No Python documentation found for 'Hello world!'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [ ]:
# len()
astring = "Hello world!"
astring2 = 'Hello world!'

astring = "Hello world!"
print("single quotes are ' '")

# That prints out 12, because "Hello world!" is 12 characters long, including punctuation and spaces.
print(f"length of our string is: {len(astring)}")

single quotes are ' '
length of our string is: 12

In [ ]:
# index()
print("hello")


astring = "Hello world!"
print(f"Index of letter 'o' is: {astring.index('o')}") # index(astring)


# That prints out 4, because the location of the first occurrence of the letter "o" is 4 characters 
# away from the first character.
# Notice how there are actually two o's in the phrase - this method only recognizes the first.

# But why didn't print out 5? Isn't "o" the fifth character in the string? To make things more simple,
# Python (and most other programming languages) starts counting from index 0 instead of 1. So the index of "o" is 4.

hello
Index of letter 'o' is: 4

In [ ]:
# count()
# This counts the number of l's in the string. Therefore, it should print 3.


astring = "Hello world!"
print(f"count of letter 'l' occurence is: {astring.count('l')}")

count of letter 'l' occurence is: 3

4.1 access elements of string or lists using the general form `[start:stop:step]`

In [ ]:
astring = "Hello world!" # [1,2,3,4,5]
print(astring[0:7:2]) # [start:end-1:step]
# [start : stop-1: step] >>> [0:6:2]

Hlow

In [ ]:
astring = "Hello world!"    # reverse direction starts at index -1 not zero!
print(astring[-2])

d

In [ ]:
print(astring[2])

l

# Ex2: 
2. The target of this exercise is to use the general form is `[start:stop:step]` to reverse a string, for example, `Hello world!` to `!dlrow olleH`

In [ ]:
astring = "Hello world!"

# TO DO
# fill the {}
# print(f"The original word is: {...}\nand the reversed word is: {...}")

In [ ]:
# split()
# Splitting: one of the most important functions in our Network Science course.
astring = "Hello;world!"
splitted_string = astring.split(";") # ; or , or tab, etc.
print(splitted_string)

['Hello', 'world!']

### 5. Condition:

1. Python uses boolean variables to evaluate (`True`, and `False`) conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

    * Notice that variable assignment is done using a single equals operator `"="`, whereas comparison between two variables is done using the double equals operator `"=="`. The "not equals" operator is marked as `"!="`.
    

2. **Boolean operators**
    
    * The `"and"`, `"or"`, `not`, and `in` boolean operators allow building complex boolean expressions, for example:

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True
print(x != 3) # prints out True

True
False
True
True

In [ ]:
# and & or
x =5
y =3

if x == 3 and y==2:
    #print("hello")
    #We started to write from here
    #print("hello")
    print("X, and Y are True")
elif x==3  or y==1:
    print("X or Y is True")
else:
    print("X, and Y are false")

X, and Y are flase

In [ ]:
# IN
name = "John"

mylist = ["John", "Rick"]

if name in mylist:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

# Note: 
* Python uses `indentation` to define code blocks, instead of brackets. The standard Python indentation is `4 spaces`, although `tabs` and any other space size will work, as long as it is `consistent`. Notice that code blocks do not need any termination.

In [ ]:
# Code block for If stmt
statement = False
another_statement = True

if statement is True:
    # do something
    pass # python keyword that do nothing
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

**bold text**### 6. Loops:
1. There are two types of loops in Python, for and while:
    * For Loop
    * While Loop

In [ ]:
# For
numbers = [2, 3, 5, 7]
for number in numbers:
    print(number)
    
    
# For loops can iterate over a sequence of numbers using the `"range"` function.
# Note that the range function is `zero based index`

print('============\n')
# Prints out the numbers 0,1,2,3,4
for x in range(5): #[start: stop: step] >> [0:5]
    print(x)

# Prints out 3,4,5
print('============\n')
for x in range(3, 6):
    print(x)

print('============\n')
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

2
3
5
7
============

0
1
2
3
4
============

3
4
5
============

3
5
7

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [ ]:
count

5

* `"break"` and `"continue"` statements:

    1. `break` is used to exit a `for` or a `while` loop, whereas `continue` is used to `skip` the current block, and return to the `for` or `while` statement. A few examples:

In [ ]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1 # count = count + 1
    if count >= 5:
        break # exit form the loop

print('=============\n')
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10): 
    # Check if x is even
    if x % 2 == 0:
        continue # skip this iteration
    print(x)

0
1
2
3
4
=============

1
3
5
7
9

# Ex 3:

1. Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here

### 7. Functions: 

#### What are Functions?

Functions are a convenient way to divide your code into useful `blocks`, allowing us to `order` our code, make it more `readable`, `reuse` it and `save some time`. Also, functions are a key way to define `interfaces` so programmers can share their code.


#### How do you write functions in Python?

* **Functions** in python are defined using the block keyword `"def"`, followed with the `function's name` as the `block's name`. For example:

In [ ]:
# python_keyword  function_name():
      # tab or 4 spaces

In [ ]:
def my_function():
    print("Hello From My Function!")

#### How do you call functions in Python?

* Simply write the` function's name followed by ()`, placing any required `arguments` within the brackets. For example, let's call the functions written above (in the previous example):

In [ ]:
my_function()

Hello From My Function!

In [ ]:
# Functions may also receive arguments (variables passed from the caller to the function). For example:
def my_function_with_args(username, greeting):
    mystring = "Hello, %s , From My Function!, I wish you %s"%(username, greeting)
    return mystring
    #print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [ ]:
another_string = my_function_with_args("Network Science", "HBD")
print(another_string)

Hello, Network Science , From My Function!, I wish you HBD

# Ex 4: 
1. Create a function to add two numbers and return the addition, and multiplication

In [ ]:
# TODO
# code goes here

### 8. Classes and Objects: 


#### Class :

* `Class` is a set or category of things having some property or attribute in common and differentiated from others by kind, type, or quality.

* In technical terms we can say that class is a blue print for individual objects with exact behaviour.


#### Object :

* `object` is one of instances of the class. which can perform the functionalities which are defined in the class.


#### self :

* `self` represents the instance of the class. By using the `self` keyword we can access the attributes and methods of the class in python.


#### __init__ :

* `"__init__"` is a reseved method in python classes. It is known as a `constructor` in object oriented concepts. This method called when an object is created from the class and it allow the class to initialize the attributes of a class.
How can we use  "__init__ " ?

Let's consider that you are creating a NFS game. for that we should have a car. Car can have `attributes or variables` like "color", "company", "speed_limit" etc. and `methods or Operations or functions` like "change_gear", "start", "accelarate", "move" etc.

In [ ]:
class Car(object):
    """
        blueprint for car
    """
    # each instance (self) of the class has 4 attributes
    
    # initialize the attributes of a class
    def __init__(self, model, color, company, speed_limit):
        self.color = color
        self.company = company
        self.speed_limit = speed_limit
        self.model = model
        
        
    # different functions
    def start(self):
        print("started")

    def stop(self):
        print("stopped")

    def accelarate(self):
        print("accelarating...")
        "accelarator functionality here"

    def change_gear(self, gear_type):
        print("gear changed")
        " gear related functionality here"

In [ ]:
# Lets try to create different types of cars
new_car1 = Car(model="A4", color="red", company="xyz", speed_limit=100)
new_car1.accelarate()
new_car1.change_gear('xyz')

print("\n2nd\n")
# Lets try to create different types of cars
new_car2 = Car(model="A5", color="blue", company="k8", speed_limit=90)
new_car2.accelarate()
new_car2.change_gear('xyz')

accelarating...
gear changed

2nd

accelarating...
gear changed

# Dictionaries: 

* A `dictionary` is a data type similar to `arrays`, but works with **keys and values** instead of indexes. Each value stored in a dictionary can be accessed using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.

* `For example`, a database of phone numbers could be stored using a dictionary like this:

In [ ]:
# empty dict
phonebook = {}


#phonebook['Key'] = Value
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781


print(f"my dict is: {phonebook}\n")


for k,v in phonebook.items():
    print(f"key name is: {k}, and phone number value is: {v}")

my dict is: {'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

key name is: John, and phone number value is: 938477566
key name is: Jack, and phone number value is: 938377264
key name is: Jill, and phone number value is: 947662781

In [ ]:
# Alternatively, a dictionary can be initialized with the same values in the following notation:

phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

# removing key and value
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}

del phonebook["John"]

print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}
{'Jack': 938377264, 'Jill': 947662781}

## Modules and Packages:

In programming, a `module` is a piece of software that has a specific functionality. For example, when building a ping pong game, one module would be responsible for the game logic, and
another module would be responsible for drawing the game on the screen. Each module is a different python file, that can be edited separately.

### Writing modules

* `Modules` in Python are simply **Python files** with a `.py` extension. The name of the module will be the name of the file. 

* A Python module can have a set of:
    * functions
    * classes
    * variables defined and implemented.
    
* Modules are imported from other modules using the `import` command.

In [ ]:
# import module_name
import math


#math.sqrt(25)
# from module_name import specific_function
from math import sqrt 


# from [module_name] import [specific_function] as [name]
from math import sqrt as sq


x = math.sqrt(25)
print(x)

y = sq(25)
print(y)

5.0
5.0

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### Data Science Tutorials:

1. Numpy
2. Pandas
3. Matplotlib

### Numpy:

1. Numpy arrays (1D, 2D, ..., nD)are great alternatives to Python **Lists**. Some of the key advantages of Numpy arrays are that they are fast, easy to work with, and give users the opportunity to perform **calculations** across entire arrays.

2. In the following example, you will first create two Python lists. Then, you will import the numpy package and create numpy arrays out of the newly created lists.

In [ ]:
!pip install numpy
#!conda install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.5)

In [ ]:
# list
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]

# add to each elemnt of the list 2
height + 2

TypeError: ignored

In [ ]:
import numpy as np  

#np?

# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

#height + 1
# 
#height + 1

height_np = np.array(height)

print(type(height_np))


#type(height)


height_np + 1

<class 'numpy.ndarray'>

array([2.87, 2.87, 2.82, 2.91, 2.9 , 2.85])

# Ex 5: 

1. add the values of the following two lists?

In [ ]:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

## To Do
#height + weight

3. Element-wise calculations

Now we can perform element-wise calculations on height and weight. For example, you could take all 6 of the height and weight observations above, and calculate the BMI for each observation with a single equation. These operations are very fast and computationally efficient. They are particularly helpful when you have 1000s of observations in your data.

In [ ]:
# Calculate bmi Body Mass Index
bmi = np_weight / np_height ** 2

# Print the result
print(bmi)

4. Subsetting

Another great feature of Numpy arrays is the ability to subset. For instance, if you wanted to know which observations in our BMI array are above 23, we could quickly subset it to find out.

In [ ]:
print(type(bmi))

In [ ]:
bmi

In [ ]:
# For a boolean response
bmi > 23
print(bmi > 23)

# Print only those observations above 23
bmi[bmi > 23]


## Why Pandas?

1. Let's learn some of the most important `pandas` features for:
    * exploring.
    * cleaning.
    * transforming
    * visualizing.
    * learning from data.


2. The pandas package is the most important tool of Data Scientists and Analysts working in Python today. Pandas is the backbone of most data projects.


3. `[pandas]` is derived from the term **panel data**, an econometrics term for data sets that include observations over multiple time periods for the same individuals.  Wikipedia.

4. In this session, we will go over the essential bits of information about pandas, including how to install it, its uses, and how it works with other common Python data analysis packages such as matplotlib and scikit-learn.


5. For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame  a table, basically  then let you do things like:

    * Calculate statistics and answer questions about the data, like
        * What's the average, median, max, or min of each column?
        * Does column A correlate with column B?
        * What does the distribution of data in column C look like?
        
    * Clean the data by doing things like removing missing values and filtering rows or columns by some criteria
    * Visualize the data with help from `Matplotlib`. Plot bars, lines, histograms, bubbles, and more.
    * Store the cleaned, transformed data back into a CSV, other file or database

6. **Pandas** is built on top of the `NumPy` package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in `SciPy`, plotting functions from `Matplotlib`, and machine learning algorithms in `Scikit-learn`.

## Pandas First Steps


### Install and import:

* Pandas is an easy package to install. Open up your terminal program (for Mac users) or command line (for PC users) and install it using either of the following commands:

`conda install pandas`

OR

`pip install pandas`

* Alternatively, if you're currently viewing this article in a Jupyter notebook you can run this cell:

`!pip install pandas`


* The `!` at the beginning runs cells as if they were in a terminal.


* To import pandas we usually import it with a shorter name since it's used so much:

In [ ]:
import pandas as pd
pd?

## Core components of pandas: Series and DataFrames

1. The primary two components of pandas are the Series and DataFrame.

2. A **Series** is essentially a `column`, and a **DataFrame** is a `multi-dimensional table made up of a collection of Series`.

In [ ]:
from IPython.display import Image
Image(filename='pandas.png') 
# source: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

1. `DataFrames` and `Series` are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean.


2. You'll see how these components work when we start working with data below.

### Creating DataFrames from scratch:


1. There are many ways to create a DataFrame from scratch, but a great option is to just use a simple **dict**.


* Let's say we have a fruit stand that sells apples and oranges. We want to have a column for each fruit and a row for each customer purchase. To organize this as a `dictionary` for pandas we could do something like:

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

And then pass it to the pandas `DataFrame` constructor:

In [ ]:
purchases = pd.DataFrame(data)

purchases

#### How did that work?

1. Each **(key, value)** item in data corresponds to a column in the resulting DataFrame.


2. The Index of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame.


* Let's have customer names as our index:

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

So now we could **loc**ate `"loc[]"` a customer's order by using their name:

In [ ]:
#purchases.to_csv("purchases.csv")

In [ ]:
purchases.loc['June'] # loc[index]

* There's more on locating and extracting data from the DataFrame later, but now you should be able to create a DataFrame with any random data to learn on.

* Let's move on to some quick methods for creating DataFrames from various other sources.

## How to read in data

* Its quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time it's coming from various files.

### Reading data from CSVs

* With CSV files all you need is a single line to load in the data:

In [ ]:
purchases.to_csv("purchases.csv")
df = pd.read_csv('purchases.csv')
df

* CSVs **don't** have indexes like our DataFrames, so all we need to do is just designate the index_col when reading:

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

df

* Here we're setting the index to be column **zero**.


* You'll find that most CSVs won't ever have an index column and so usually you don't have to worry about this step.

### Reading data from JSON

* If you have a JSON file  which is essentially a stored Python dict  pandas can read this just as easily:

In [ ]:
purchases.to_json("new.json")

In [ ]:
df = pd.read_json('new.json')

df

* Notice this time our index came with us correctly since using JSON allowed indexes to work through nesting. Feel free to open `data_file.json` in a notepad so you can see how it works.

## Reading data from a SQL database

* If youre working with data from a SQL database you need to first establish a connection using an appropriate Python library, then pass a query to pandas. Here we'll use SQLite to demonstrate.

1. First, we need `pysqlite3` installed, so run this command in your terminal:

`pip install pysqlite3`

Or run this cell if you're in a notebook:

`!pip install pysqlite3`

In [ ]:
#!pip install pysqlite3

`sqlite3` is used to create a connection to a database which we can then use to generate a `DataFrame` through a SELECT query.

So first we'll make a connection to a SQLite database file:

In [ ]:
# import sqlite3

# con = sqlite3.connect("database.db")

In this SQLite database we have a table called purchases, and our index is in a column called "index".

By passing a SELECT query and our con, we can read from the purchases table:

In [ ]:
# df = pd.read_sql_query("SELECT * FROM purchases", con)

# df

## Converting back to a CSV, JSON, or SQL

* So after extensive work on cleaning your data, youre now ready to save it as a file of your choice. Similar to the ways we read in data, pandas provides intuitive commands to save it:

In [ ]:
df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

#df.to_sql('new_purchases', con)

* When we save JSON and CSV files, all we have to input into those functions is our desired filename with the appropriate file extension. With SQL, were not creating a new file but instead inserting a new table into the database using our con variable from before.

# Ex 6:

1. Create random dataFrame using `dict`.
2. save this random data as `csv`, and `json` file.
3. read the saved `csv file` again, and set the index col.
4. use `loc` to get the second row from your dataFrame.

In [ ]:
# # TO DO
# # create dict
# your_dicy={?}

# # create df from dict
# df = pd.DataFrame(?)

# # save df as csv and json
# ?
# ?

# # read the csv file
# csv_file = pd.read_csv(?)

# # get the second rwo
# ?

In [ ]:
# rand_dict = {
#     "Name": ["Mark", "Mahmoud", "Hakan"],
#     "Age": [23, 33, 44],
    
# }

# df = pd.DataFrame(rand_dict, index=['row_1','row_2','row_3'])

# df.to_csv('new_random.csv')

# df.to_json('new_random.json')
# df

In [ ]:
# df = pd.read_csv('new_random.csv', index_col=0)
# df.loc["row_2"]

## Most important DataFrame operations

In [ ]:
# read csv file
import pandas as pd

movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

movies_df

* We're loading this dataset from a CSV and designating the movie titles to be our index.

### Viewing your data

* The first thing to do when opening a new dataset is print out a few rows to keep as a visual reference. We accomplish this with `.head()`:

In [ ]:
movies_df.tail(10)

* `.head()` outputs the first five rows of your DataFrame by default, but we could also pass a number as well: `movies_df.head(10)` would output the top ten rows, for example.


* To see the last five rows use `.tail()`. tail() also accepts a number, and in this case we printing the bottom two rows.:

In [ ]:
movies_df.tail(2)

* Typically when we load in a dataset, we like to view the first five or so rows to see what's under the hood. Here we can see the names of each column, the index, and examples of values in each row.

* You'll notice that the index in our DataFrame is the Title column, which you can tell by how the word Title is slightly lower than the rest of the columns.


### Getting info about your data

* `.info()` should be one of the very first commands you run after loading your data:

In [ ]:
movies_df.info()

* `.info()` provides the essential details about your dataset, such as the number of rows and columns, the number of non-null values, what type of data is in each column, and how much memory your DataFrame is using.


* Notice in our movies dataset we have some obvious missing values in the Revenue and Metascore columns. We'll look at how to handle those in a bit.


* Another fast and useful attribute is `.shape`, which outputs just a tuple of (rows, columns):

In [ ]:
movies_df.shape

* Note that `.shape` has no parentheses and is a simple tuple of format **(rows, columns).** So we have `1000 rows and 11 columns` in our movies DataFrame.


* You'll be going to .shape a lot when cleaning and transforming data. For example, you might filter some rows based on some criteria and then want to know quickly how many rows were removed.


#### Handling duplicates


* This dataset does not have duplicate rows, but it is always important to verify you aren't aggregating duplicate rows.


* To demonstrate, let's simply just double up our movies DataFrame by appending it to itself:

In [ ]:
temp_df = movies_df.append(movies_df)

temp_df.shape

* Using **append()** will return a copy without affecting the original DataFrame. We are capturing this copy in temp so we aren't working with the real data.

* Notice call .shape quickly proves our DataFrame rows have doubled.

* Now we can try dropping duplicates:

In [ ]:
temp2_df = temp_df.drop_duplicates()

temp2_df.shape

* Just like append(), the **drop_duplicates()** method will also return a copy of your DataFrame, but this time with duplicates removed. Calling .shape confirms we're back to the 1000 rows of our original dataset.


* It's a little verbose to keep assigning DataFrames to the same variable like in this example. For this reason, pandas has the `inplace keyword` argument on many of its methods. Using **inplace=True** will modify the DataFrame object in place:

In [ ]:
temp_df.drop_duplicates(inplace=True)
temp_df.shape

* Now our temp_df will have the transformed data automatically.

* Another important argument for `drop_duplicates()` is **keep**, which has three possible options:

    * first: (default) Drop duplicates except for the first occurrence.
    * last: Drop duplicates except for the last occurrence.
    * False: Drop all duplicates.


* Since we didn't define the keep arugment in the previous example it was defaulted to first. This means that if two rows are the same pandas will drop the second row and keep the first row. Using last has the opposite effect: the first row is dropped.

* keep, on the other hand, will drop all duplicates. If two rows are the same then both will be dropped. Watch what happens to temp_df:

In [ ]:
temp_df = movies_df.append(movies_df)  # make a new copy

temp_df.drop_duplicates(inplace=True, keep=False)

temp_df.shape

* Since all rows were duplicates, **keep=False** dropped them all resulting in zero rows being left over. If you're wondering why you would want to do this, one reason is that it allows you to locate all duplicates in your dataset. When conditional selections are shown below you'll see how to do that.

### Column cleanup

* Many times datasets will have verbose column names with symbols, upper and lowercase words, spaces, and typos. To make selecting data by column name easier we can spend a little time cleaning up their names.

* Here's how to print the column names of our dataset:

In [ ]:
movies_df.columns

* We can use the **.rename()** method to rename certain or all columns via a dict. We don't want parentheses, so let's rename those:

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)

movies_df.columns

* Excellent. But what if we want to lowercase all names? Instead of using .rename() we could also set a list of names to the columns like so:

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

* But that's too much work. Instead of just renaming each column manually we can do a **list comprehension:**

In [ ]:
names = []
for col in movies_df.columns:
    names.append(col.lower())
    
[col.lower() for col in movies_df]

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

* `list (and dict) comprehensions` come in handy a lot when working with pandas and data in general.


* It's a good idea to lowercase, remove special characters, and replace spaces with underscores if you'll be working with a dataset for some time.

### How to work with missing values

* When exploring data, youll most likely encounter **missing or null values**, which are essentially placeholders for non-existent values. Most commonly you'll see Python's `None` or NumPy's `np.nan`, each of which are handled differently in some situations.


* There are two options in dealing with nulls:

    * Get rid of rows or columns with nulls
    * Replace nulls with non-null values, a technique known as imputation


* Let's calculate to total number of nulls in each column of our dataset. The first step is to check which cells in our DataFrame are null:

In [ ]:
movies_df.info()

In [ ]:
movies_df.isnull()

* Notice **isnull()** returns a DataFrame where each cell is either `True or False` depending on that cell's null status.

* To count the number of nulls in each column we use an aggregate function for `summing`:

In [ ]:
movies_df.isnull().sum()

* **.isnull()** just by iteself isn't very useful, and is usually used in conjunction with other methods, like sum().


* We can see now that our data has 128 missing values for revenue_millions and 64 missing values for metascore.

#### Removing null values

* Data Scientists and Analysts regularly face the dilemma of dropping or imputing null values, and is a decision that requires intimate knowledge of your data and its context. Overall, removing null data is only suggested if you have a small amount of missing data.

* Remove nulls is pretty simple:

In [ ]:
movies_df.dropna()
#newdf.info()

* This operation will delete any row with at least a single null value, but it will return a new DataFrame without altering the original one. You could specify `inplace=True` in this method as well.


* So in the case of our dataset, this operation would remove 128 rows where revenue_millions is null and 64 rows where metascore is null. This obviously seems like a waste since there's perfectly good data in the other columns of those dropped rows. That's why we'll look at **imputation next.**

* Other than just dropping rows, you can also drop columns with null values by setting **axis=1:**

In [ ]:
movies_df.dropna(axis=1)

* In our dataset, this operation would drop the `revenue_millions` and `metascore` columns

### Imputation

* Imputation is a conventional `feature engineering` technique used to keep valuable data that have null values.


* There may be instances where dropping every row with a null value removes too big a chunk from your dataset, so instead we can impute that null with another value, usually the mean or the median of that column.


* Let's look at imputing the missing values in the revenue_millions column. First we'll extract that column into its own variable:

In [ ]:
revenue = movies_df['revenue_millions']
revenue

metascore = movies_df['metascore']
metscore_me = metascore.mean()
#metscore_me

metascore.fillna(metscore_me, inplace=True)

movies_df.isnull().sum()

* Using square brackets is the general way we select columns in a DataFrame.

* If you remember back to when we created DataFrames from scratch, the keys of the dict ended up as column names. Now when we select columns of a DataFrame, we use brackets just like if we were accessing a Python dictionary.

* revenue now contains a Series:

In [ ]:
revenue.head()

* Slightly different formatting than a DataFrame, but we still have our Title index.

* We'll impute the missing values of revenue using the mean. Here's the mean value:

In [ ]:
revenue_mean = revenue.mean()

revenue_mean

* With the mean, let's fill the nulls using **fillna():**

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

* We have now replaced all nulls in revenue with the mean of the column. Notice that by using `inplace=True` we have actually affected the original movies_df:

In [ ]:
movies_df.isnull().sum()

* Imputing an entire column with the same value like this is a basic example. It would be a better idea to try a more granular imputation by Genre or Director.

* For example, you would find the mean of the revenue generated in each genre individually and impute the nulls in each genre with that genre's mean.

* Let's now look at more ways to examine and understand the dataset.

### Understanding your variables

* Using **describe()** on an entire DataFrame we can get a summary of the distribution of continuous variables:

In [ ]:
movies_df.describe()

* Understanding which numbers are continuous also comes in handy when thinking about the type of plot to use to represent your data visually.

* .describe() can also be used on a **categorical variable** to get the count of rows, unique count of categories, top category, and freq of top category:

In [ ]:
movies_df['genre'].describe()

* This tells us that the genre column has 207 unique values, the top value is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

* **.value_counts()** can tell us the frequency of all values in a column:

In [ ]:
movies_df['genre'].value_counts().head(10)

#### Relationships between continuous variables

* By using the correlation method **.corr()** we can generate the relationship between each continuous variable:

In [ ]:
movies_df.corr()

* Correlation tables are a numerical representation of the bivariate relationships in the dataset.

* Positive numbers indicate a positive correlation  one goes up the other goes up  and negative numbers represent an inverse correlation  one goes up the other goes down. 1.0 indicates a perfect correlation.

* So looking in the first row, first column we see rank has a perfect correlation with itself, which is obvious. On the other hand, the correlation between votes and revenue_millions is 0.6. A little more interesting.

* Examining bivariate relationships comes in handy when you have an outcome or dependent variable in mind and would like to see the features most correlated to the increase or decrease of the outcome. You can visually represent bivariate relationships with scatterplots (seen below in the plotting section).

## DataFrame slicing, selecting, extracting

* Up until now we've focused on some basic summaries of our data. We've learned about simple column extraction using single brackets, and we imputed null values in a column using fillna(). Below are the other methods of slicing, selecting, and extracting you'll need to use constantly.

* It's important to note that, although many methods are the same, DataFrames and Series have different attributes, so you'll need be sure to know which type you are working with or else you will receive attribute errors.

* Let's look at working with columns first.

#### By column

* You already saw how to extract a column using square brackets like this:

In [ ]:
genre_col = movies_df['genre']

type(genre_col)

* This will return a **Series**. To extract a column as a DataFrame, you need to pass a list of column names. In our case that's just a single column:

In [ ]:
genre_col = movies_df[['genre']]

type(genre_col)

* Since it's just a list, adding another column name is easy:

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

* Now we'll look at getting data by rows.

#### By rows

* For rows, we have two options:

    * **.loc** - locates by name
    * **.iloc**- locates by numerical index

* Remember that we are still indexed by movie Title, so to use .loc we give it the Title of a movie:

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

* On the other hand, with iloc we give it the numerical index of Prometheus:

In [ ]:
prom = movies_df.iloc[1]
prom

* loc and iloc can be thought of as similar to Python list slicing. To show this even further, let's select multiple rows.


* How would you do it with a list? In Python, just slice with brackets like example_list[1:4]. It's works the same way in pandas:

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset = movies_df.iloc[1:4]

movie_subset

* One important distinction between using .loc and .iloc to select multiple rows is that .locincludes the movie Sing in the result, but when using .iloc we're getting rows 1:4 but the movie at index 4 (Suicide Squad) is not included.

* Slicing with .iloc follows the same rules as slicing with lists, the object at the index at the end is not included.


#### Conditional selections

* Weve gone over how to select columns and rows, but what if we want to make a conditional selection?


* For example, what if we want to filter our movies DataFrame to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0?


* To do that, we take a column from the DataFrame and apply a Boolean condition to it. Here's an example of a Boolean condition:

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

condition.head()

* Similar to isnull(), this returns a Series of True and False values: True for films directed by Ridley Scott and False for ones not directed by him.

* We want to filter out all movies not directed by Ridley Scott, in other words, we dont want the False films. To return the rows where that condition is True we have to pass this operation into the DataFrame:

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"]

* You can get used to looking at these conditionals by reading it like: **Select movies_df where movies_df director equals Ridley Scott.**


* Let's look at conditional selections using numerical values by filtering the DataFrame by ratings:

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

* We can make some richer conditionals by using logical operators **| for "or" and & for "and"**.

* Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | \
          (movies_df['director'] == 'Ridley Scott')].head()

* We need to make sure to group evaluations with parentheses so Python knows how to evaluate the conditional.

* Using the **isin()** method we could make this more concise though:

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

* Let's say we want all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

* Here's how we could do all of that:

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

* If you recall up when we used .describe() the 25th percentile for revenue was about 17.4, and we can access this value directly by using the quantile() method with a float of 0.25.

* So here we have only four movies that match that criteria.

### Applying functions

* It is possible to iterate over a DataFrame or Series as you would with a list, but doing so  especially on large datasets  is very slow.


* An efficient alternative is to **apply()** a function to the dataset. For example, we could use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.


* First we would create a function that, when given a rating, determines if it's good or bad:

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

* Now we want to send the entire rating column through this function, which is what `apply()` does:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

* The .apply() method passes every value in the rating column through the rating_function and then returns a new Series. This Series is then assigned to a new column called rating_category.

* You can also use anonymous functions as well. This lambda function achieves the same result as rating_function:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

* Overall, using apply() will be much faster than iterating manually over rows because pandas is utilizing **vectorization.**

* **Vectorization:** a style of computer programming where operations are applied to whole arrays instead of individual elements

# Pandas Profiling

* Generates profile reports from a pandas `DataFrame`. The pandas `df.describe()` function is great but a little basic for serious exploratory data analysis. `pandas_profiling` extends the pandas DataFrame with [df.profile_report()](https://github.com/pandas-profiling/pandas-profiling) for quick data analysis.

* `!pip install pandas_profiling`

In [ ]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=['a', 'b', 'c', 'd', 'e']
)

profile = ProfileReport(df, title='Pandas Profiling Report', html={'style':{'full_width':True}})

profile